In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Ordering a Series

In [5]:
ser1 = Series(np.arange(3), index=['C','A','B'])

ser1

C    0
A    1
B    2
dtype: int32

In [6]:
# sort series by the index name, call sort_index()
ser1.sort_index()

A    1
B    2
C    0
dtype: int32

In [13]:
# sort series by the values, call order()
ser1.order()

C    0
A    1
B    2
dtype: int32

### Ranking a Series

In [9]:
from numpy.random import randn

In [10]:
ser2 = Series(randn(10))

ser2

0   -0.662634
1   -0.171728
2   -0.967714
3   -1.286616
4   -0.340089
5    0.387089
6   -0.538334
7   -1.495776
8   -0.368002
9    0.918606
dtype: float64

In [14]:
ser2.sort()

In [15]:
ser2

7   -1.495776
3   -1.286616
2   -0.967714
0   -0.662634
6   -0.538334
8   -0.368002
4   -0.340089
1   -0.171728
5    0.387089
9    0.918606
dtype: float64

In [16]:
# get the rank of each number
ser2.rank()

7     1
3     2
2     3
0     4
6     5
8     6
4     7
1     8
5     9
9    10
dtype: float64

In [17]:
ser3 = Series(randn(10))

ser3

0    0.160360
1    0.680225
2    0.731284
3   -0.417783
4    0.473447
5   -0.325650
6   -0.826976
7    1.095255
8    0.765533
9   -0.552127
dtype: float64

In [19]:
# now if we rank we will see the rank column being all over the place
ser3.rank()

0     5
1     7
2     8
3     3
4     6
5     4
6     1
7    10
8     9
9     2
dtype: float64

In [20]:
# now chedk the rank after sorting, it is arranged according to the rank
ser3.sort()
ser3.rank()

6     1
9     2
3     3
5     4
0     5
4     6
1     7
2     8
8     9
7    10
dtype: float64

In [21]:
ser3

6   -0.826976
9   -0.552127
3   -0.417783
5   -0.325650
0    0.160360
4    0.473447
1    0.680225
2    0.731284
8    0.765533
7    1.095255
dtype: float64