In [17]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index = [0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

range(0, 15)

In [12]:
ser3.reindex(ranger)

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [13]:
# reindexing with forward fill
ser3.reindex(ranger, method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
# reindexing with backward fill
ser3.reindex(ranger, method = 'bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [19]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['A', 'B', 'D', 'E', 'F'], columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -0.202724 -0.456434  0.003156  0.151564  0.699741
B -0.314851 -1.066786  0.743179  0.885048 -0.688360
D -0.640353 -0.198887 -1.038436  0.095192 -0.171981
E -0.312798  1.541608  0.930897 -0.333522 -0.021164
F  3.505432 -1.180672  0.929769  1.942492  3.043164

In [21]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

dframe2

       col1      col2      col3      col4      col5
A -0.202724 -0.456434  0.003156  0.151564  0.699741
B -0.314851 -1.066786  0.743179  0.885048 -0.688360
C       NaN       NaN       NaN       NaN       NaN
D -0.640353 -0.198887 -1.038436  0.095192 -0.171981
E -0.312798  1.541608  0.930897 -0.333522 -0.021164
F  3.505432 -1.180672  0.929769  1.942492  3.043164

In [22]:
# explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.202724 -0.456434  0.003156  0.151564  0.699741   NaN
B -0.314851 -1.066786  0.743179  0.885048 -0.688360   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.640353 -0.198887 -1.038436  0.095192 -0.171981   NaN
E -0.312798  1.541608  0.930897 -0.333522 -0.021164   NaN
F  3.505432 -1.180672  0.929769  1.942492  3.043164   NaN

In [23]:
dframe

       col1      col2      col3      col4      col5
A -0.202724 -0.456434  0.003156  0.151564  0.699741
B -0.314851 -1.066786  0.743179  0.885048 -0.688360
D -0.640353 -0.198887 -1.038436  0.095192 -0.171981
E -0.312798  1.541608  0.930897 -0.333522 -0.021164
F  3.505432 -1.180672  0.929769  1.942492  3.043164

In [24]:
# reindex in one quick step
dframe.ix[['A', 'B', 'D', 'E', 'F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.202724 -0.456434  0.003156  0.151564  0.699741   NaN
B -0.314851 -1.066786  0.743179  0.885048 -0.688360   NaN
D -0.640353 -0.198887 -1.038436  0.095192 -0.171981   NaN
E -0.312798  1.541608  0.930897 -0.333522 -0.021164   NaN
F  3.505432 -1.180672  0.929769  1.942492  3.043164   NaN